src/auxi/modelling/accounting/financial/code_generation/capitalGainsTaxRule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="capitalGainsTaxRule"
    targetNamespace="auxi::modelling::accounting::financial"
    elementFormDefault="qualified"
    xmlns="financial"
    xmlns:mstns="auxi::modelling::accounting::financial"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:element name="auxi.modelling.accounting.financial.capitalGainsTaxRule" type="CapitalGainsTaxRule"/>

<xs:complexType name="CapitalGainsTaxRule" base="TaxRule">
    <xs:attribute name="Percentage" type="xs:double"/>
</xs:complexType>

</xs:schema>
