src/auxi/modelling/accounting/financial/code_generation/taxRuleSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="taxRuleSet"
    targetNamespace="auxi::modelling::accounting::financial"
    elementFormDefault="qualified"
    xmlns="financial"
    xmlns:mstns="auxi::modelling::accounting::financial"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:element name="auxi.modelling.accounting.financial.taxRuleSet" type="TaxRuleSet"/>


<xs:complexType name="TaxRuleSet" additional_includes="TaxRule">
<xs:sequence>
    <xs:element name="TaxRule" type="TaxRule*" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
    <xs:attribute name="Code" type="xs:string"/>
</xs:complexType>

</xs:schema>
