src/auxi/modelling/financial/tax/code_generation/capitalGainsRule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="capitalGainsRule"
    targetNamespace="auxi::modelling::financial::tax"
    elementFormDefault="qualified"
    xmlns="financial"
    xmlns:mstns="auxi::modelling::financial::tax"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:element name="auxi.modelling.financial.tax.capitalGainsRule" type="CapitalGainsRule"/>

<xs:complexType name="CapitalGainsRule" base="Rule">
    <xs:attribute name="Percentage" type="xs:double"/>
</xs:complexType>

</xs:schema>
