src/auxi/modelling/financial/tax/code_generation/incomeRule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="incomeRule"
    targetNamespace="auxi::modelling::financial::tax"
    elementFormDefault="qualified"
    xmlns="financial"
    xmlns:mstns="auxi::modelling::financial::tax"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:element name="auxi.modellin.financial.tax.incomeRule" type="IncomeRule"/>

<xs:complexType name="IncomeRule" base="Rule">
    <xs:attribute name="Percentage" type="xs:double"/>
</xs:complexType>

</xs:schema>
