src/auxi/modelling/financial/tax/code_generation/ruleSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="taxRuleSet"
    targetNamespace="auxi::modelling::financial::tax"
    elementFormDefault="qualified"
    xmlns="financial"
    xmlns:mstns="auxi::modelling::financial::tax"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:element name="auxi.modelling.financial.tax.ruleSet" type="RuleSet"/>


<xs:complexType name="RuleSet" additional_includes="Rule">
<xs:sequence>
    <xs:element name="Rule" type="Rule*" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
    <xs:attribute name="Code" type="xs:string"/>
</xs:complexType>

</xs:schema>
