src/auxi/modelling/financial/tax/code_generation/salesRule.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema id="salesRule"
    targetNamespace="auxi::modelling::financial::tax"
    elementFormDefault="qualified"
    xmlns="financial"
    xmlns:mstns="auxi::modelling::financial::tax"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:element name="auxi.modelling.financial.tax.salesRule" type="SalesRule"/>

<xs:complexType name="SalesRule" base="Rule">
    <xs:attribute name="Percentage" type="xs:double"/>
</xs:complexType>

</xs:schema>
