src/auxi/modelling/financial/double_entry_system/code_generation/transactionTemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="transactionTemplate"
    targetNamespace="auxi::modelling::financial::double_entry_system"
    elementFormDefault="qualified"
    xmlns="financial"
    xmlns:mstns="auxi::modelling::financial::double_entry_system"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
<xs:element name="auxi.modelling.financial.double_entry_system.TransactionTemplate" type="TransactionTemplate"/>


<xs:complexType name="TransactionTemplate" additional_includes="GeneralLedgerAccount">
<xs:attribute name="DtAccount" type="std::string"/>
<xs:attribute name="CrAccount" type="std::string"/>

</xs:complexType>

</xs:schema>
